@mixin masthead-background-containers() {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  width: auto;
  height: inherit;
}

@mixin transparent-masthead-navigation-menu() {
  @extend .navbar-transparent;

  border: 0;
  border-radius: 0;

  ul.nav.navbar-nav {
    > li {
      text-transform: uppercase;

      a {
        letter-spacing: 1.2px;
      }
    }

    .dropdown-menu {
      text-transform: none;
    }
  }
}

.navbar-static-top {
  margin-bottom: 0;
}

.masthead {
  background-color: $masthead-bg;
  //border-bottom: 1px solid $navbar-default-border;
  margin-bottom: $padding-large-vertical * 2.5;
  padding: 0;
  position: relative;
  // allow dropdowns in the top nav to stack above the masthead
  z-index: $zindex-navbar - 1;


  .site-title {
    padding-bottom: $padding-base-vertical;
    flex: 0;
    margin-right: 20px;
    text-align: right;
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 46px;
  }

  .site-subtitle {
    padding-bottom: $padding-base-vertical;
    max-width: 220px;
    min-width: 220px;
    font-family: Georgia,Times,Times New Roman,serif;
  }
  small {
    @extend .hidden-xs;

    padding-bottom: $padding-base-vertical;
    padding-top: $padding-base-vertical;
    font-family: Georgia,Times,Times New Roman,serif;
  }

  .site-image {
    padding-top: $padding-base-vertical;
    padding-bottom: $padding-base-vertical;
    margin-left: auto;
  }

  .navbar {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .navbar-form {
    text-align: right;
  }
}

.resource-masthead {
  .site-title {
    @extend .text-center;
  }

  .navbar {
    border-bottom: 1px solid $navbar-transparent-border;
    border-top: 0;
    margin-bottom: 0;
  }

  .navbar-nav {
    float: right;
  }

  .search-query-form {
    display: none;
  }
}

.site-title-container {
  height: $masthead-height - $navbar-height;
  padding-bottom: $padding-large-vertical;
  padding-top: $padding-large-vertical;
  display: flex;
}
